body {
    font-family: sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h1 {
    font-family: sans-serif;
    font-size: 48px;
    text-align:center;
}
.hraci {
    display: flex;
    justify-content: space-between;
}

.hraci > div {
    display: flex;
}

.bily img,
.cerny img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px
}
h2 {
    margin: 0;
    padding: 10px 10px 0px 10px;
    font-size: 20px;
}
.jmenoainfo p {
    margin: 0;
    padding: 2px 10px 0px 10px;
}
.cerny {
    flex-direction: row-reverse;
}
.cerny .jmenoainfo {
    text-align: right;
}
.hracipole {
    border: 12px solid #392C16;
    margin: 15px auto;
    border-radius: 5px;
}
.sachovnice {
    background-image: url("obrazky/bonus/sachovnice.svg");
    background-size: 25%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}
.sachovnice img {
    width: 100%;
    height: 100%;
    display: block;
}
.sachovnice > :nth-child(9) {
    grid-row-start: 8;
    grid-column-start: 6;
}
.sachovnice > :nth-child(8) {
    grid-row-start: 8;
    grid-column-start: 3;
}
.sachovnice > :nth-child(7) {
    grid-row-start: 6;
    grid-column-start: 6;
}
.sachovnice > :nth-child(6) {
    grid-row-start: 5;
    grid-column-start: 2;
}
.sachovnice > :nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 8;
}
.sachovnice > :nth-child(4) {
    grid-row-start: 4;
    grid-column-start: 4;
}
.sachovnice > :nth-child(3) {
    grid-row-start: 3;
    grid-column-start: 3;
}
.sachovnice > :nth-child(2) {
    grid-row-start: 2;
    grid-column-start: 1;
}
.sachovnice > :nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 5;
}
.vysledek {
    text-align: center;
    margin: 35px 40px 20px 40px;
    font-size: 21px;
}
button {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 30px;
    background-color: #4C7DC0;
    border: 1px solid #074189;
    border-radius: 2px;
    color: white;
}